<ion-view style="" cache-view="false" id="page2" title="Bienvenido">
  <ion-content class="has-header" padding="true" style="background:#2E2E2E">

  <form class="formLogin" id="login-form4" ng-controller="loginController" ng-init="load()">
      <ion-list id="login-list1">
        <label name="username" id="login-input3" class="item item-input">
          <span class="input-label">Usuario</span>
          <input class="inputLogin" style="margin-top:6px" ng-model="user" placeholder="Ej: lorenajrc@gmail.com" type="text">
        </label>
        <label  name="password" id="login-input4" class="item item-input">
          <span class="input-label">Contraseña</span>
          <input ng-model="password" placeholder="" type="password">
        </label>
      </ion-list>
      <div style="height: 40px;" class="spacer"></div>
      <button type="submit" class="button button-dark  button-block" ng-click="login()">Entrar</button>
    </form>

    <!-- <form class="formLogin">
  <div class="group">
    <input class="inputLogin" type="text"><span class="highlight"></span><span class="barLogin"></span>
    <label class="labelLogin">Name</label>
  </div>
  <div class="group">
    <input class="inputLogin" type="email"><span class="highlight"></span><span class="barLogin"></span>
    <label class="labelLogin">Email</label>
  </div>
  <button type="button" class="button buttonBlue">Subscribe
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form> -->
<footer><img src="img/octave_icon.png">
  <p>Octave Allegro</p>
</footer>
  </ion-content>
</ion-view>
