<ion-view cache-view="false" title="Enfoque de Mitigación" id="home">
  <ion-content padding="true" class="has-header">
    <div id="criteriosDeMedidaDeRiesgo-markdown7" class="show-list-numbers-and-dots" ng-show="actions.length === 0">
      <strong><p style="color:#000000; margin-top: 10px; text-align:center;">No se han creado Áreas de Preocupación aún</p></strong>
    </div>
    <div class="card" ng-repeat="item in actions track by item.id">
      <div class="item item-divider">
        Área de Preocupación<a style="margin-left:80px; font-size:83%; display:inline-block;" ng-click="open(item.id);">Ver Controles</a>
      </div>
      <div class="item item-text-wrap">
      {{item.name}}
      </div>
      <div id="info-wrap" style="overflow: hidden; height: 35px;">
				<div class="item-divider itemPuntajeAction">Puntaje Riesgo Relativo</div>
				<div class="itemScoreAction">{{item.score}}</div>
			</div>
      <div id="info-wrap" style="overflow: hidden; height: 35px;">
				<div class="item-divider itemPuntajeAction">Probabilidad Subjetiva</div>
				<div class="itemScoreAction">{{item.subjetiva}}</div>
			</div>
      <div id="info-wrap" style="overflow: hidden; height: 35px;">
				<div class="item-divider itemPuntajeAction">Categoría:</div>
				<div class="itemScoreAction" ng-style="set_color(item)">{{item.grupo}}</div>
			</div>
      <div id="info-wrap" style="overflow: hidden; height: 35px;">
				<div class="item-divider itemPuntajeAction">Acción:</div>
				<div class="itemScoreAction"><strong>{{item.accion}}</strong></div>
			</div>
    </div>
  </ion-content>
</ion-view>
