<ion-view title="Area de Preocupación" id="home" style="">
  <ion-content padding="true" class="has-header">
    <button ng-click="addConcern()" class="button button-dark  button-block"><i class="icon ion-android-add"></i> Nueva Documentación de Área</ion-item></button>
    <div class="card" ng-repeat="item in areas">
      <div class="item item-divider item-icon-left item-icon-right">
        <i class="icon ion-android-delete" ng-click="delete(item.activo_id)" style="font-size:20px;"></i>Área de Preocupación<i class="icon ion-eye" ng-click="view(item); modal2.show()" style="font-size:16px; margin-right:16px;">Ver</i>
      </div>
      <div class="item item-text-wrap">
        {{item.name}}
      </div>
    </div>
  </ion-content>
</ion-view>
