<ion-view title="MENU" cache-view="false" id="home" style="">
  <ion-content padding="true" class="has-header containerNav">
    <ion-list class="listContainer">
      <ion-item style="" class="item-icon-left titleNav itemNav" ng-repeat="menu in menuList">
        <div class="iconContainer"><i class="icon {{menu.icon}}"></i></div>
        <a ui-sref="{{menu.href}}" style="color:#0a0a0b">{{menu.name}}</ion-item>
        </a>
        <ion-list>
          <div class="item collapseNav" ng-repeat="group in groups" style="padding:1px;">
            <ion-item style="color:#0a0a0b;background-color:white;" class="item item-icon-left titleNav itemConfiguration" ng-click="toggleGroup(group)">
            <p class="textContainer"><i class="icon ion-settings"></i> &nbsp; {{group.name}}</p>
            </ion-item>
            <ion-item class="item-accordion item-icon-right" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
              {{item.name}}<i class=" icon {{item.class}}" ng-click="redirection(item.id)" style="font-size:30px; margin-right:16px;"></i>
            </ion-item>
          </div>
        </ion-list>

    </ion-list>
  </ion-content>
</ion-view>
