<ion-view title="Registrar Activo" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <div id="registrarActivo-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Nombre</p>
    </div>
    <form id="registrarActivo-form8" class="list">
      <label class="item item-input" id="registrarActivo-input11">
        <input placeholder="" type="text">
      </label>
    </form>
    <div id="registrarActivo-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Descripción</p>
    </div>
    <form id="registrarActivo-form14" class="list">
      <label class="item item-input" id="registrarActivo-textarea3">
        <span class="input-label"></span><textarea placeholder=""></textarea></label>
    </form>
    <div id="registrarActivo-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Tipo</p>
    </div>
    <form id="registrarActivo-form15" class="list">
      <label class="item item-select" id="registrarActivo-select2">
        <span class="input-label"></span>
        <select></select>
      </label>
    </form>
    <button id="registrarActivo-button4" class="button button-dark  button-block">Guardar</button>
  </ion-content>
</ion-view>