* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[ng-drag] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.itemDrag {
  width: 106px;
  height: 50px;
  background: rgba(21, 144, 40, 0.5);
  color: white;
  text-align: center;
  padding-top: 7px;
  display: inline-block;
  margin: 5px;
  cursor: move;
  vertical-align: top; !important
}

.itemDragImpactArea {
  width: 269px;
  height: 41px;
  background: rgba(21, 144, 40, 0.5);
  color: white;
  text-align: center;
  padding-top: 7px;
  display: inline-block;
  margin: 5px;
  cursor: move;
  vertical-align: top; !important
}

.itemHorizontal{
  background: rgba(219, 234, 219, 0.5);
  text-align: center;
  height: 51px;
}

.itemHorizontalIMpactArea{
  background: rgba(219, 234, 219, 0.5);
  text-align: center;
  height: 75px;
}


ul.draggable-objects:after {
  display: block;
  content: "";
  clear: both;
}

.draggable-objects li {
  float: left;
  display: block;

  height: 40px;
}

[ng-drag].drag-over {
  border: solid 1px green;
}

[ng-drag].dragging {
  opacity: 0.5;
}

.drop-container {
  background: rgba(219, 234, 219, 0.5);
  text-align: center;
  width: 300px;
  height: 200px;
  padding-top: 50px;
  display: block;
  margin: 20px auto;
  position: relative;
}

.drop-containerActives {
  background: rgba(219, 234, 219, 0.5);
  text-align: center;
  width: 300px;
  height: 145px;
  padding-top: 50px;
  display: block;
  margin: 20px auto;
  position: relative;
}

.drop-containerImpactArea {
  background: rgba(219, 234, 219, 0.5);
  text-align: center;
  width: 300px;
  height: 308px;
  display: block;
  margin: 20px auto;
  position: relative;
}

.drop-input {
  width: 200px;
  height: 40px;
}

.drag-enter {
  border: solid 5px black;
}

.drop-container span.title {
  display: block;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 200px;
  height: 20px;
  margin-left: -100px;
  margin-top: -10px;
}

.drop-container div {
  position: relative;
  z-index: 2;
}
