/* Empty. Add your own CSS if you like */

.item-left-editing~.item-reorder {
  margin-right: 100px
}

.item-right-editing.item-right-editable+.item-reorder {
  margin-right: 200px;
}

.item-right-editing.item-right-editable~.item-reorder {
  margin-right: 200px;
}

.item-left-editing.item-left-editable~.item-left-edit {
  margin-right: 200px;
}

.list-left-editing .item-reorder {
  margin-right: 200px;
  border: 1px solid black;
}

.box {
  width: 100%;
  text-align: center;
}

.itemScore {
  width: 20%;
  float: left;
  min-height: 80px;
  padding: 8px;
  text-align: center;
}

.itemScore {
  width: 20%;
  float: left;
  min-height: 80px;
  padding: 8px;
  text-align: center;
}

.itemPuntaje {
  width: 80%;
  float: left;
  min-height: 80px;
  padding: 8px;
}

.itemScoreAction {
  width: 50%;
  float: left;
  min-height: 80px;
  padding: 8px;
  text-align: center;
}

.itemPuntajeAction {
  width: 50%;
  float: left;
  min-height: 80px;
  padding: 8px;
}

.control .popup {
  width: 320px !important;
  height: 360px;
}

.control .popup-body{
  height: 216px;
}
